{% extends 'base.html.twig' %}

{% block title %}New BudgetMonth{% endblock %}

{% block body %}
    <h1>Create new BudgetMonth</h1>

    {{ include('budget_month/_form.html.twig') }}

    <a href="{{ path('app_budget_month_index') }}">back to list</a>
{% endblock %}
